NGINX_PORT=8080
POSTGRES_PORT=5432

PHP_FPM_VERSION=8.3
PHP_CLI_VERSION=8.3
NODE_VERSION=25
NGINX_VERSION=1.29.8
POSTGRES_VERSION=18

VERSION_TAG=v1
DEV=1

PHP_FPM_TAG=${VERSION_TAG}
PHP_CLI_TAG=${VERSION_TAG}
NGINX_TAG=${VERSION_TAG}
NODE_TAG=${VERSION_TAG}
POSTGRES_TAG=${VERSION_TAG}

REGISTRY=localhost:5000

