/node_modules
/public/css
/public/hot
/public/js
/public/mix-manifest.json
/public/storage
/public/build
/storage/*.key
/vendor
.DS_Store
.env
.env.backup
.env.docker
.phpunit.result.cache
.php-cs-fixer.php
.php-cs-fixer.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/nbproject/private/
.project
_ide_helper_models.php
_ide_helper.php
resources/js/ziggy.d.ts
components.d.ts
.phpstorm.meta.php
coverage.xml
